body {
	background-color: #3AAAD0;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16px;
	color: #082D46;
}
#header-nav {
	border-radius: 0;
	background-color: #53D4EE;
	border: 0;	
	border-bottom: 2px solid #10469A;
}
.navbar-brand {
	height: 108px;
}
.navbar-brand h1{
	font-family: "Nunito", sans-serif;
	font-weight: bold;
	color: #10469A;
	text-shadow: 1px 1px 1px #3AAAD0;
}
.navbar-brand a{
	text-decoration: none;
}
.navbar-header .icon-bar, .navbar-header button.navbar-toggle {
	border: 2px solid #10469A;
}
.navbar-header button.navbar-toggle {
	margin-top: 30px;
}
.navbar-header button.navbar-toggle:focus {
	background-color: transparent;;
}
.navbar-header button.navbar-toggle:active {
	border-radius: 10px;
}
#collapsable-nav {
	border: 0;
}
#nav-list {
	margin-bottom: 0;
}
#nav-list a{
	border: 2px solid #10469A;
	border-bottom: 0;
	text-align: center;
	color: #082D46;
}
#nav-list li {
	background-color: #53C1EE;
}
#main-content section {
	margin-top: 15px;
	margin-bottom: 10px;
	background-color: #54D4EE;
	min-height: 700px;
}
#main-content section p {
	text-indent: 50px;
}
h3 {
	padding:20px 0 10px 0;
	margin: 0;
}


/* Extra small*/
@media (max-width: 767px) {
	.navbar-brand h1{
		font-size: 1.5em;
		margin-top: 25px;
}